<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue基礎chapter06</title>
  <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
  </style>
</head>
<body>
  <div id="app1">
    <label><input type="checkbox" v-model="myVisible">表示する</label>
    <p v-if="myVisible">ON</p>
    <p v-else>OFF</p>
  </div>
  <hr>
  <div id="app2">
    <ul>
      <li v-for="( item, i ) in myArray">{{ i+1 }},{{ item }}</li>
    </ul>
  </div>
  <hr>
  <div id="app3">
    <ul>
      <li v-for="n in 3">{{ n }},じゅんばんこ</li>
    </ul>
  </div>
  <hr>
  <div id="app4">
    <ul>
      <li v-for="item in myArray">{{ item }}</li>
    </ul>
    <button v-on:click="sortData(myArray)">ソートする</button>
  </div>
  <hr>
  <div id="app5">
    <ul>
      <li v-for="item in myArray">{{ item }}</li>
    </ul>
    <button v-on:click="evenData()">偶数だけ</button>
  </div>
  <hr>


</body>
<script>
  new Vue ({
    el: '#app1',
    data:{
      myVisible:false
    }
  })
  new Vue ({
    el: '#app2',
    data:{
      myArray:['配列１','配列2','配列3']
    }
  })
  new Vue ({
    el: '#app3'
  })

  // var sortArray = ['one','two','three'];
    var sortArray = [2,4,10,3];
    // var sortArray = ['い','う'];
  function sortData(list){
    list.sort(function(a,b){
      return (a<b?-1:1);
    });
  }
  sortData(sortArray);
  console.log(sortArray);

  new Vue ({
    el: '#app4',
    data:{
      myArray:['11','3','2']
    },
    methods:{
      sortData: function (list){
          list.sort(function(a,b){
          return (a<b?-1:1);
        });
      }
    }
  })

  new Vue ({
    el: '#app5',
    data:{
      myArray:[1,2,3,4,5,6,7]
    },
    methods:{
      evenData: function (){
        this.myArray = this.myArray.filter(
          function(val) { return val % 2 == 0; }
        );
      }
    }
  })
</script>
</html>
